.home {
  /* align */
  height: calc(100vh - var(--nav-h));
  /* content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.home h1 {
  /* align */
  margin-bottom: 1rem;
}

.home form {
  /* align */
  min-width: 500px;
  /* style */
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* content */
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.home label {
  /* style */
  font-weight: 500;
}

.home input {
  /* style */
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.home button {
  /* align */
  margin-bottom: 1rem;
  /* style */
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: var(--blue-0);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.column {
  float: left;
  width: 20Vw;
  max-height: 60vh; 
  margin-left: 2rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topic{
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: var(--blue-0);
  margin-bottom: .5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.topic:hover {
transform: scale(1.02);
}

.topic img {
  border-radius: 15%;
  max-width: 45%;  
}

.home h1 {
  left: 50%;
  text-align: center;
  color: var(--blue-0);
}

.sidebar {
  position: absolute;
  left: 0;
  width: 10vw;
  height: calc(100vh - var(--nav-h));
  background-color: var(--blue-0);
}

.sidebar img {
  border-radius: 15%;
  max-width: 25%;  
  margin-top: 4%;
  margin-left: 4%;
  cursor: pointer;
  display: block
}

.sidebar img:hover {
  transform: scale(1.02);
  }

.addtopic {
  filter: brightness(0) invert(1);
}