.landing {
  /* align */
  height: calc(100vh - var(--nav-h));
  /* content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  /* style */
  font-size: 3rem;
  font-weight: 700;
  color: var(--blue-0);
}